virtuoso/mysql/a.sql
virtuoso/mysql/data_field_data_field_actual_location.sql
virtuoso/mysql/data_field_data_field_actual_location_vir.sql
virtuoso/mysql/data_field_data_field_address.sql
virtuoso/mysql/data_field_data_field_address_vir.sql
virtuoso/mysql/data_field_data_field_coords.sql
virtuoso/mysql/data_field_data_field_coords_vir.sql
virtuoso/mysql/data_field_data_field_group.sql
virtuoso/mysql/data_field_data_field_group_vir.sql
virtuoso/mysql/data_field_data_field_inhabitant.sql
virtuoso/mysql/data_field_data_field_inhabitant_vir.sql
virtuoso/mysql/data_field_data_field_location_of_work_shown.sql
virtuoso/mysql/data_field_data_field_location_of_work_shown_vir.sql
virtuoso/mysql/data_field_data_field_location.sql
virtuoso/mysql/data_field_data_field_location_vir.sql
virtuoso/mysql/data_field_data_field_patron.sql
virtuoso/mysql/data_field_data_field_patron_vir.sql
virtuoso/mysql/data_field_data_field_person.sql
virtuoso/mysql/data_field_data_field_person_vir.sql
virtuoso/mysql/data_field_data_field_rome_poi.sql
virtuoso/mysql/data_field_data_field_rome_poi_vir.sql
virtuoso/mysql/data_field_data_field_rome_studio.sql
virtuoso/mysql/data_field_data_field_rome_studio_vir.sql
virtuoso/mysql/data_field_data_field_teacher_in_nl.sql
virtuoso/mysql/data_field_data_field_teacher_in_nl_vir.sql
virtuoso/mysql/data_field_data_field_teacher_in_rome.sql
virtuoso/mysql/data_field_data_field_teacher_in_rome_vir.sql
virtuoso/mysql/data_location_instance.sql
virtuoso/mysql/data_location_instance_vir.sql
virtuoso/mysql/data_location.sql
virtuoso/mysql/hadrianus_schema.sql
virtuoso/mysql/hadrianus_schema_virtuoso.sql
virtuoso/mysql/t_actions.sql
virtuoso/mysql/t_field_data_field_actual_location.sql
virtuoso/mysql/t_field_data_field_actual_location_vir.sql
virtuoso/mysql/t_field_data_field_address.sql
virtuoso/mysql/t_field_data_field_address_vir.sql
virtuoso/mysql/t_field_data_field_coords.sql
virtuoso/mysql/t_field_data_field_coords_vir.sql
virtuoso/mysql/t_field_data_field_group.sql
virtuoso/mysql/t_field_data_field_group_vir.sql
virtuoso/mysql/t_field_data_field_inhabitant.sql
virtuoso/mysql/t_field_data_field_inhabitant_vir.sql
virtuoso/mysql/t_field_data_field_location_of_work_shown.sql
virtuoso/mysql/t_field_data_field_location_of_work_shown_vir.sql
virtuoso/mysql/t_field_data_field_location.sql
virtuoso/mysql/t_field_data_field_location_vir.sql
virtuoso/mysql/t_field_data_field_patron.sql
virtuoso/mysql/t_field_data_field_patron_vir.sql
virtuoso/mysql/t_field_data_field_person.sql
virtuoso/mysql/t_field_data_field_person_vir.sql
virtuoso/mysql/t_field_data_field_rome_poi.sql
virtuoso/mysql/t_field_data_field_rome_poi_vir.sql
virtuoso/mysql/t_field_data_field_rome_studio.sql
virtuoso/mysql/t_field_data_field_rome_studio_vir.sql
virtuoso/mysql/t_field_data_field_teacher_in_nl.sql
virtuoso/mysql/t_field_data_field_teacher_in_nl_vir.sql
virtuoso/mysql/t_field_data_field_teacher_in_rome.sql
virtuoso/mysql/t_field_data_field_teacher_in_rome_vir.sql
virtuoso/mysql/t_location_instance.sql
virtuoso/mysql/t_location_instance_vir.sql
virtuoso/mysql/t_location.sql
